.Button {
    padding: 10px 90px;
    outline: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #3f9dee;
    cursor: pointer;
}

.Button:hover {
    background-color: #64b1f3;
}