.ContestCard {
    width: 26.5%;
    margin-bottom: 60px;
    margin-right: 5%;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 19px 1px rgba(219,216,219,1);
    -moz-box-shadow: 3px 3px 19px 1px rgba(219,216,219,1);
    box-shadow: 3px 3px 19px 1px rgba(219,216,219,1);
}

.ContestCard:nth-child(3n) {
    margin-right: 0;
}

.ContestCard p {
    margin: 4px;
    padding: 0;
    color: #636363;
}

.ContestCard p span {
    font-weight: 600;
}