.ParticipantCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 26.5%;
    margin-bottom: 60px;
    margin-right: 5%;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 19px 1px rgba(219,216,219,1);
    -moz-box-shadow: 3px 3px 19px 1px rgba(219,216,219,1);
    box-shadow: 3px 3px 19px 1px rgba(219,216,219,1);
}

.ParticipantCard:nth-child(3n) {
    margin-right: 0;
}

.ParticipantCard-content {
    margin-bottom: 20px;
}

.ParticipantCard p {
    margin: 4px;
    padding-bottom: 7px;
    color: #636363;
}

.ParticipantCard p span {
    font-weight: 600;
}