.Home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 80px;
    text-align: center;
}

.Home-header input {
    width: 760px;
    margin-bottom: 0;
}

.Home-header button {
    padding: 10px 30px;
}

.Home-contests-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Home-contests-container::after {
    flex: auto;
    content: "";
}