.ContestDashboard::after {
    content: '';
    display: block;
    clear: both;
}

.ContestDashboard-content-left {
    width: 67%;
    float: left;
}

.ContestDashboard-content-right {
    width: 28%;
    float: right;
    padding-top: 75px;
}

.ContestDashboard-header {
    padding: 75px 0 80px;
}

.ContestDashboard-header input {
    width: 515px;
}

.ContestDashboard-users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ContestDashboard-users-container::after {
    flex: auto;
    content: "";
}
